.footer {
  display: flex;
  justify-content: flex-start;
  background: #efefef;
  align-items: center;

  width: 100%;
  padding: 2vw 2vw;
}



.text-footer {
  width: fit-content;
  color: rgb(54, 54, 54);
  font-family: Pretendard;
  font-size: clamp(7px, 1vw, 21px);
  font-style: normal;
  font-weight: 300;

  letter-spacing: 0.63px;
  word-break: keep-all;
  white-space: normal;
}
