.pageS1 {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: clamp(40px, 6vw, 79px);
  margin-top: 70px; /* ← 네브바 높이만큼 */
}

.titleS1{
display: flex;
width: 90vw;
flex-direction: column;
justify-content: center;
gap: 15px;
color: #FFF;
text-align: center;
font-family: Pretendard;
white-space: nowrap;
}

.top-textS1{
  align-self: stretch; 
  justify-content: center; 
font-size: clamp(12px, 2.0vw, 34px);
line-height: 1.7;
letter-spacing: clamp(-1.5px, -10vw, -3.4px);
font-weight: 300;
font-style: Thin;
}

.bot-textS1 {
   align-self: stretch; 
   justify-content: center; 
  font-size: clamp(42px, 3.6vw, 66px);
  line-height: 1.28;
  letter-spacing: clamp(-4.5px, -0.33vw, -6.3px);
  font-weight: 400;
  font-style: normal;
}

