.pageS2{
width:100%;

display: flex;
padding: clamp(10px, 17vw, 500px) clamp(24px, 15.5vw, 299px);
flex-direction: column;
justify-content: center;
align-items: center;

gap: clamp(16px, 2.5vw, 33px);
background: #fff;
}

.title{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5px;

}

.line{
background-color: #f6aa81;
width:30vw;
height:4px;
border-radius: 5px;
}

.titleS2{
color: #000;
font-family: Pretendard;
font-style: normal;
font-weight: 545;
font-size: clamp(44px, 2.6vw, 80px);
line-height: 1.28;
letter-spacing: clamp(-3.6px, 0.2vw, 1px);
}

.menuS2{
display: flex;
justify-content: flex-start;
align-items: flex-start;
gap: clamp(24px, 2vw, 38px);
}

.menuS2-t{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.2vw;
  cursor: pointer;
}

.menuS2L{
display: flex;
justify-content: flex-start;
flex-direction: row;
gap: clamp(20px, 9vw, 38px);
}

.menuS2LF{
display: flex;
/* 상 우 하 좌 순서로 clamp() 적용 */
width:21.5vw;
height: 16.5vw;
padding:clamp(5px,2.3vw,40px);
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
/* 요소 간 간격도 뷰포트에 따라 조절 */
gap: 2vw;
border-radius: clamp(16px, 2vw, 30px);
background: rgb(240, 240, 240);
backdrop-filter: blur(10px);           /* 배경 블러 효과 */
  -webkit-backdrop-filter: blur(10px);   /* Safari 호환용 */
border: 1px solid rgba(208, 208, 208, 0.3); /* 약한 테두리 */
  box-shadow: 0 4px 30px rgba(80, 80, 80, 0.1);  /* 약한 그림자 */
text-decoration: none;
white-space: nowrap; /* 줄바꿈 방지 */
 transform-style: preserve-3d;
transition: 
    transform 0.18s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.menuS2LF:hover{
  transform: translateZ(40px) scale(1.03);
  box-shadow:
    0 5px 10px rgba(99, 99, 99, 0.15);
}

.menuS2LF:active{
  transform: translateZ(10px) scale(0.97);
  box-shadow:
    0 5px 10px rgba(99, 99, 99, 0.15);
}

.menuS2LF-top{
color: #000;
text-align: left;
font-family: 'Pretendard', sans-serif;
font-style: normal;
font-weight: 500;

/* 반응형 폰트 크기 (예: 20px ~ 25px ~ 32px) */
font-size: clamp(20px, 2vw, 32px);

/* 라인 높이도 상대적으로 조절 */
line-height: clamp(28px, 2.5vw, 44px);

/* 글자 간격도 유동적으로 */
letter-spacing: clamp(0.3px, 0.05vw, 0.75px);
}

.menuS2LF-bot{
color: #000;
text-align: center;
font-family: 'Pretendard', sans-serif;
font-style: normal;
font-weight: 400;
font-weight: 300;

/* 작은 화면 13px, 기본 15px, 큰 화면 최대 18px */
font-size: clamp(13px, 1.2vw, 18px);

/* 줄간격도 글자 크기에 비례하여 자연스럽게 증가 */
line-height: clamp(18px, 2vw, 26px);

/* 자간도 뷰포트 기준으로 약간씩 조절 */
letter-spacing: clamp(0.25px, 0.04vw, 0.45px);
}


.menuS2R-bot{
color: #000;
font-family: Pretendard;
font-style: normal;
font-weight: 400;
font-weight: 300;

/* 작은 화면 13px, 기본 15px, 큰 화면 최대 18px */
font-size: clamp(13px, 1.2vw, 18px);

/* 줄간격도 글자 크기에 비례하여 자연스럽게 증가 */
line-height: clamp(18px, 2vw, 26px);

/* 자간도 뷰포트 기준으로 약간씩 조절 */
letter-spacing: clamp(0.25px, 0.04vw, 0.45px);
white-space:nowrap;
}

.menu-plus{
width: 33px;
height: 35px;
margin-left: auto;
}
