.admission-container{
    display: inline-flex;
height: 732px;
padding: 107px 240px 40px 240px;
flex-direction: column;
align-items: center;
}

.admission{
    display: flex;
max-width: 1440px;
justify-content: center;
align-items: center;
gap: 10px;
}

.admission-title{
    color: #000;
font-family: Pretendard;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 73px;
letter-spacing: 0.27px;
}

.admission-text{
color: #000;
font-family: Pretendard;
font-size: 27px;
font-style: normal;
font-weight: 300;
line-height: 40px;
letter-spacing: 0.27px;
}