.admission-container{
    display: flex;

padding: clamp(2rem, 1vw, 10rem) clamp(1rem, 13.5vw, 15rem)clamp(2rem, 15vw, 10rem)clamp(1rem, 13.5vw, 15rem); 
  gap: clamp(3rem, 2vw, 6rem);
    flex-direction: column;
    align-items: center;

}

.admission{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    gap: 2vw;

}

.admission-title{
    color: #000;
  font-family: Pretendard;
  /* 글자 크기를 최소 2rem, 최대 4rem, 중간값 3.5vw로 설정 */
  font-size: clamp(2rem, 2.5vw, 4rem); 
  font-weight: 600;
  line-height: 1.7;
    text-align: center;
}

.admission-text{
     color: #000;
  font-family: Pretendard;
  font-size: clamp(10px, 1.5vw, 25px);
  font-weight: 300;
  line-height: 1.5;
    white-space: normal;
    text-align: center;
    word-break: keep-all;
}

@media (max-width: 768px){
    .admission-container{
        padding: 60px 20px 40px 20px;
    }
    
    .admission-title{
        font-size: 24px;
        line-height: 1.3;
    }
    
    .admission-text{
        font-size: 16px;
        line-height: 1.6;
    }
}