/* 기본 1920px 이상 화면에 적용되는 스타일 */
.page-map {
    width: 100%;
    display: flex;
     padding: clamp(2rem, 1vw, 10rem) clamp(1rem, 13.5vw, 15rem)clamp(2rem, 15vw, 10rem)clamp(1rem, 13.5vw, 15rem); 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 95px;
}

.map-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.map-top-image {
    width: 50%;
    height: auto;
    aspect-ratio: 115/99;
    border-radius: 30px;
}

.map-top-text {
    width: 60%;
    white-space: nowrap;
}

.map-top-text1 {
  color: #000;
  font-family: Pretendard;
  /* 글자 크기를 최소 2rem, 최대 4rem, 중간값 3.5vw로 설정 */
  font-size: clamp(2rem, 2.5vw, 4rem); 
  font-weight: 600;
  line-height: 1.7;
    }
    
    .map-top-text2 {
          color: #000;
  font-family: Pretendard;
  font-size: clamp(10px, 1.2vw, 25px);
  font-weight: 300;
  line-height: 1.7;
    }

.map-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.map-bot-map {
    width: 100%;
    height: 500px; /* 높이를 'auto'에서 '500px'로 수정 */
}

.map-bot-text {
    color: #000;
    text-align: center;
    font-family: Pretendard;
 font-size: clamp(10px, 1.5vw, 25px);
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.27px;
}

/* 1440px 이하 화면에 적용될 미디어 쿼리 */
@media (max-width: 1440px) {
    .page-map {
        padding: 100px 100px;
        gap: 60px;
    }
    
    .map-top {
        flex-direction: column;
        gap: 40px;
    }
    
    .map-top-image img {
        width: 100%;
        height: auto;
    }
    
    .map-top-text {
        width: 100%;
        text-align: center;
    }
    
    .map-top-text1 {
  color: #000;
  font-family: Pretendard;
  /* 글자 크기를 최소 2rem, 최대 4rem, 중간값 3.5vw로 설정 */
  font-size: clamp(2rem, 2.5vw, 4rem); 
  font-weight: 600;
  line-height: 1.7;
    }
    
    .map-top-text2 {
          color: #000;
  font-family: Pretendard;
  font-size: clamp(10px, 1.2vw, 25px);
  font-weight: 300;
  line-height: 1.3;
    }
    
    .map-bot-map {
        width: 100%;
        height: 400px; /* 높이를 'auto'에서 '400px'로 수정 */
    }
    
    .map-bot-text {
        font-size: 20px;
        line-height: 30px;
    }
}