.page4{

width: 100%;

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: clamp(10px, 3.2vw, 450px);
background: #f6f6f6;
}

.title4{
display: flex;
width: 50vw;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;


  gap: clamp(5px, 0.3vw, 30px);

}

.title-top4{
  align-self: stretch;
  color: #000000;
text-align: left;
font-family: Pretendard;

font-weight: 400;
font-size: clamp(24px, 1.5vw, 80px);
white-space: nowrap;

}

.title-bot4{
  align-self: stretch;
  text-align: left;
  color: #000000;
font-family: Pretendard;


line-height: 112%;

font-weight: 450;
font-size: clamp(44px, 2.6vw, 180px);
 white-space: nowrap;
}

.content4{
display: flex;
justify-content: flex-start;
align-items: flex-start;
gap: clamp(10px, 1.5vw, 118px);
align-self: stretch;
flex-direction: column;

}

.content4-text{
text-align: left;
font-family: Pretendard;
font-size: clamp(18px, 1.13vw, 32px);
font-style: normal;
font-weight: 400;
line-height: 146%; /* 51.1px */
letter-spacing: 0.35px;
white-space: nowrap;
}


.imageLeft{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 2.5vw;
  gap:2.25vw
}

.line{
  width:43vw;
  height:1px;
  background: #5e5e5e;

}

.right-bottom{
  display: flex;
  padding-top: 2.7vw;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  gap: 1vw;
}