.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month{
display: flex;
width: 100%;
padding-left:80%;
justify-content: center;
align-items: center;
gap: 10px;
}

.month-text{
    color: #000;
font-family: Pretendard;
font-size: 100px;
font-style: normal;
font-weight: 100;
line-height: normal;
letter-spacing: 1px;
}

.meal{
width: 70%;
height: auto;
}