.charge-container {
    display: flex;
    width: 100%;
    min-height: 1491px;
padding: clamp(2rem, 1vw, 10rem) clamp(1rem, 13.5vw, 15rem)clamp(2rem, 15vw, 10rem)clamp(1rem, 13.5vw, 15rem); 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    box-sizing: border-box;
}

.charge-content{
    display: flex;
    width: 100%;
    max-width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(8px, 2vw, 10px);
}

.charge-text{
color: #000;
  font-family: Pretendard;
  font-size: clamp(10px, 1.2vw, 25px);
  font-weight: 300;
  line-height: 1.5;
text-align: center;
}

.charge-text.title{
 
  /* 글자 크기를 최소 2rem, 최대 4rem, 중간값 3.5vw로 설정 */
  font-size: clamp(2rem, 2.5vw, 4rem); 
  font-weight: 600;
  line-height: 1.7;

}

.charge-text.subtitle{
font-size: clamp(10px, 1.5vw, 25px);
  font-weight: 500;
  line-height: 1.5;

}

.charge-text.image-note{
    font-size: clamp(18px, 3vw, 29px);
    font-weight: 500;
    letter-spacing: 0.29px;
}

.charge-text.box{
    font-size: clamp(16px, 2.8vw, 25px);
    font-weight: 400;
    letter-spacing: 0.25px;
    
}

.charge-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.charge-box2{
    display: flex;
    width: max-content; /* 내용물(컬럼) 크기만큼 박스를 늘림 */
    align-items: center;
    align-self: stretch;
    border: 0.1px solid #000;
}

.charge-column{
    display: flex;
    flex: 1;
    min-width: clamp(150px, 13vw, 269px);
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    white-space:nowrap;

}

.charge-row1{
    display: flex;
    height: clamp(30px, 5vw, 33px);
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #A3D7DD;
    border: 0.1px solid #000;
}

.charge-row2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(5px, 2vw, 10px);
    align-self: stretch;
    border: 0.1px solid #000;
    padding: clamp(8px, 2vw, 12px);
}

@media (max-width: 768px) {
    .charge-container {
        padding: 60px 20px 40px 20px;
    }
    
    .charge-text {
        white-space: normal;
    }
    
    .charge-box {
        width: 100%;
    }
    
    .charge-box2 {
        overflow-x: scroll;
    }
}