.page4{
position: relative; /* 기준이 될 부모 */
width: 100%;
height: clamp(450px, 50vh, 700px);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: clamp(10px, 7vw, 45px);
background: #FFF;
overflow: hidden; /* 배경 이미지가 넘치지 않게 */
padding-top: clamp(30px, 12vh, 120px);
}

.title4{
  position: relative;
  z-index: 1;
  gap: clamp(10px, 5vw, 30px);
}

.title-top4{
  align-self: stretch;
  color: #646464;
text-align: center;
font-family: Pretendard;
font-style: normal;
font-weight: 400;
line-height: 112%; /* 53.76px */
letter-spacing: 1.44px;
  font-size: clamp(24px, 3vw, 48px);

}

.title-bot4{
  align-self: stretch;
  text-align: center;
  color: #FF6B1A;
font-family: Pretendard;
font-style: normal;
font-weight: 400;
line-height: 112%;
letter-spacing: 2.28px;
  font-size: clamp(36px, 5vw, 76px);
 
}

.content4{
display: flex;
justify-content: center;
align-items: center;
gap: clamp(30px, 6vw, 118px);
align-self: stretch;
flex-direction: row;
color: #000;
text-align: center;
font-family: Pretendard;
font-size: clamp(18px, 1.25vw, 35px);
font-style: normal;
font-weight: 400;
line-height: 146%; /* 51.1px */
letter-spacing: 0.35px;
position: relative;
z-index: 1;
white-space: nowrap;
}

.content4-box{
width: clamp(329px, 20vw, 455px);   /* (455/1920)*100 ≈ 23.7vw */
height: clamp(104px, 7.5vw, 144px);   /* (144/1920)*100 ≈ 7.5vw */
display: flex;
padding: 27px 61px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 30px;
border: 2px solid #FFA472;
}

.time4{
display: flex;
padding: 22px 123.5px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 30px;
border: 2px solid #FFA472;
}

.divider-wave {
  position: absolute;
  top: -30px; /* 페이지 상단에 붙이기 */
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  opacity: 1;
}


