.pro-container {
    display: flex;
    width: 100%;
    min-height: 640px;
    padding: clamp(2rem, 1vw, 10rem) clamp(1rem, 13.5vw, 15rem)clamp(2rem, 15vw, 10rem)clamp(1rem, 13.5vw, 15rem); 
  gap: clamp(3rem, 2vw, 6rem);
    flex-direction: column;
    align-items: center;

}

.top-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.pro-content {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    gap: clamp(1px, 0.3vw, 16px);
    flex-wrap: wrap;
    text-align: center;
}

.pro-text{
     color: #000;
  font-family: Pretendard;
  font-size: clamp(10px, 1.2vw, 25px);
  font-weight: 300;
  line-height: 1.5;
padding-top: 5vw;
}

.pro-text-title {
      color: #000;
    font-family: Pretendard;
  /* 글자 크기를 최소 2rem, 최대 4rem, 중간값 3.5vw로 설정 */
  font-size: clamp(2rem, 2.5vw, 4rem); 
  font-weight: 600;
  line-height: 1.7;
    text-align: center;
}

.pro-text-subtitle {
      color: #000;
    font-family: Pretendard;
  font-size: clamp(10px, 1.5vw, 25px);
  font-weight: 300;
  line-height: 1.5;
    white-space: normal;
    text-align: center;
    word-break: keep-all;
}

@media (max-width: 768px) {
    .pro-container {
        padding: 60px 20px 40px 20px;
    }
}

