@font-face {
  font-family: 'ZenSerif';
  src: url('../../../assets/font/ZenSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: clamp(24px,9vw,500px) clamp(20px,5vw,500px) 0px clamp(20px,5vw,500px)  ;

gap:0.5vw;
background: #f1f1f1;
}



.titleS1{
display: flex;
width: 90vw;
flex-direction: column;
justify-content: center;
gap: 0.2vw;
color: #000000;
text-align: center;
white-space: nowrap;
}

.top-textS1{
  align-self: stretch; 
  justify-content: center; 
font-size: clamp(12px, 1.5vw, 134px);
line-height: 1.7;
letter-spacing: clamp(-1.5px, -10vw, -3.4px);
font-weight: 400;
font-family: pretendard;

}

.bot-textS1 {
   align-self: stretch; 
   justify-content: center; 
  font-size: clamp(42px, 2.6vw, 160px);
  line-height: 1.21;
  letter-spacing: clamp(-4.5px, 1.15vw, -2.3px);
  font-weight: 550;
  font-family: pretendard;

}

.image{
 display: flex;
  width:100%;

  align-items: center;
  justify-content: center;

} 