.pageLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  background: #fff;
}

.logoLogin {
  width: 163px;
  height: 114px;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 100%;
  max-width: 520px; /* ✅ 박스 최대 너비 고정 */
}

.menu-top {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
}

.menu-top-id,
.menu-top-passwd {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 14px 20px;
  border-radius: 13px;
  border: 1px solid #b7b7b7;
  background: #fff;
}

.menu-top-image {
  width: 43px;
  height: 43px;
  flex-shrink: 0;
}

.menu-input {
  border: none;
  outline: none;
  font-size: 20px;
  font-family: Pretendard;
  background-color: transparent;
  color: #333;
  width: 100%;
}

.menu-top-passwd-box {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.menu-top-passwd-image {
  width: 24px;
  height: 20px;
  cursor: pointer;
}

.menu-bot {
  display: flex;
  flex-direction: column;
  gap: 17px;
  width: 100%;
  cursor: pointer;
}

.menu-bot-login,
.menu-bot-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 0;
  border-radius: 13px;
  width: 100%;
}

.menu-bot-login {
  background: #ffa472;
}

.menu-bot-signup {
  border: 1px solid #ffa472;
  background: #fff;
}

.menu-bot-textL {
  color: #fff;
  font-family: Pretendard;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.menu-bot-textS {
  color: #737373;
  font-family: Pretendard;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.25px;
}
/* 크롬, 엣지에서 기본 eye 아이콘 제거 */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
