/* 1. 전체 래퍼 */
.page-gallery {
  margin-top:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 2. 상단 */
.gallery-top {
  width: 100vw;
  height: 557px;
  position: relative;
}
.gallery-topImg {
  width: 100%;
  height: 490px;
  margin-top: 70px;
}
.gallery-topImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-top-box1 {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.gallery-top-box2 {
  display: flex;
  width: 70vw;
  padding: 0 1110px 15px 0;
  border-bottom: 2px solid #FFF;
}
.gallery-top-text {
  color: #fff;
  font-family: 'Pretendard', sans-serif;
  font-size: clamp(38px, 2.656vw, 51px);
  font-weight: 400;
  white-space: nowrap;
}

/* 3. 그리드 레이아웃 */
.gallery-main {
  width: 100%;
  display: flex;
  justify-content: center;
}
.gallery-list {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
}
.gallery-list-box {
  width: 350px;
}
.gallery-list-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid #FFA472;
  border-radius: 15px;
  background: #FFF;
  overflow: hidden;
  text-decoration:none;
}
.gallery-list-picture {
  width: 100%;
  height: 222px;
  background: #FFA472;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.gallery-list-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-list-content {
  display: flex;
  align-items: center;
  padding: 12px;
}
.gallery-list-pro {
  flex-shrink: 0;
  width: 57px;
  height: 57px;
  border-radius: 15px;
  border: 2px solid #FFA472;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.gallery-list-pro img {
  width: 100%;
  height: 100%;
}
.gallery-list-text {
  display: flex;
  flex-direction: column;
}
.gallery-list-title {
  font-family: Pretendard, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #000;
  margin-bottom: 4px;
}
.gallery-list-date {
  font-family: Pretendard, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #000;
}

/* 4. 페이지 네비 */
.gallery-movebar {
  display: flex;
  padding: clamp(30px, 2vw, 50px) 
         clamp(474.375px, 32.94vw, 632.5px) 
         0;
width:100%;
  justify-content: center;
  align-items: center;
  gap: 59px;
}
.arrow {
  flex: 0 0 clamp(24px, 2vw, 43px);
  height: clamp(24px, 2vw, 44px);
}
.pages {
  display: flex;
  gap: clamp(8px, 2vw, 33px);
}
.page-num {
  font-size: clamp(16px, 2vw, 25px);
  opacity: 0.25;
  cursor: pointer;
}

/* 5. 검색창 */
.gallery-search {
  width:100%;
  display: flex;
  padding: 60px 
         clamp(139.5px, 9.688vw, 186px) 
         clamp(70px, 10vw, 100px) 
         clamp(825px, 50vw, 1363px);
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.gallery-search-input {
  padding: 13.5px 48px 13.5px 16px;
  font-family: Pretendard, sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.21px;
  color: #646464;
  border: 1px solid #FFC8AA;
  border-radius: 9px;
  outline: none;
}
.gallery-search-input::placeholder {
  color: #646464;
  opacity: 1;
}
.gallery-search-btn {
  display: flex;
  padding: 11px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  background: #FF9D67;
  border: none;
  white-space:nowrap;
}
.gallery-search-btn-text {
  color: #FFF;
  font-family: Pretendard, sans-serif;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.25px;
}
.checkbox {
   width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
}