/* components/Banner/Banner.css */

.banner {
  position: relative;
  width: 100%;
  height: 10vw;
  overflow: hidden;
margin-top: 8vw;
  background-color: rgb(255, 255, 255);
  padding-left: 13.5vw;
  
}




.banner-text {
  color: rgb(0, 0, 0);
  font-family: 'Pretendard', sans-serif;
  font-size: clamp(10px, 3.5vw, 480px);
  font-weight: 600;
  white-space: nowrap;
}
