.pageS3{
    width: 100%;

  display: flex;

/* padding: top right bottom left */
padding: 
  clamp(40px, 25vh, 300px)    /* top */
  clamp(40px, 4vw, 278.5px) /* right */
  clamp(24px, 25vh, 300px)    /* bottom */
  clamp(40px, 4vw, 278.5px); /* left */
margin-top: 11vw;
justify-content: center;
align-items: center;
/* 요소 간 간격도 반응형 처리 */
gap: clamp(24px, 2vw, 71px);
background-color: rgb(249,249,249);
}

.menuS3L{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: clamp(48px, 3.5vw, 234px);
text-decoration: none;
}


.menuS3R{
display: flex;
width: 100px;
height: 100px;
background-color: aqua;
flex-direction: column;
align-items: flex-start;
gap: clamp(48px, 3.5vw, 234px);
text-decoration: none;
}

.menuS3-top{
margin-left: 20px;
color: #000;
font-family: 'Pretendard', sans-serif;
font-style: normal;
font-weight: 450;
font-size: clamp(44px, 2.5vw, 54px);
line-height: 1.28;
letter-spacing: clamp(-3.6px, 0.2vw, 1px);
}

.menuS3L-bot{
display: flex;
padding: 3.5vw 0.93vw;
flex-direction: column;
justify-content: center;
align-items: flex-start; 
border-radius: 25px;
background: #FFF;
}

.menuS3L-botContent{
display: flex;
padding: 
  clamp(5px, 0vh, 300px)    /* top */
  clamp(40px, 1vw, 278.5px) /* right */
  clamp(24px, 1vh, 300px)    /* bottom */
  clamp(10px, 1vw, 278.5px); /* left */
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 1.5vw;
}

.menuS3L-botItem{
display: flex;
padding: 
  clamp(10px, 4vh, 300px)    /* top */
  clamp(10px, 3.2vw, 278.5px) /* right */
  clamp(10px, 4vh, 300px)    /* bottom */
  clamp(0px, 1.2vw, 278.5px); /* left */
flex-direction: row;
justify-content: center;
align-items: center;
gap: 50px;
white-space: nowrap; /* 줄바꿈 방지 */
background-color: #ffffff;
border-radius: 1.5vw;
}

.text{
 margin-left: 20px;
color: #000;
font-family: 'Pretendard', sans-serif;
font-style: normal;
font-weight: 450;
font-size: clamp(20px, 1.3vw, 54px);
line-height: 1.28;
letter-spacing: clamp(-3.6px, 0.2vw, 1px);
}
.menuS3R-bot{
aspect-ratio: 221/129;
border-radius: clamp(12px, 1.5vw, 20px);
}

.dot {
  flex: 0 0 auto;
  color: #000;
  font-size: 3vw;
margin-right: -6%;
}


/* 오른쪽 + 아이콘 */
.plusMini {
  flex: 0 0 auto;
  color: #888;
  font-size: 2.2rem;
}

.menuS3-top2{
  margin-left: 20px;
color: #000;
font-family: 'Pretendard', sans-serif;
font-style: normal;
font-weight: 450;
font-size: clamp(44px, 2.5vw, 54px);
line-height: 1.28;
letter-spacing: clamp(-3.6px, 0.2vw, 1px);
}